
span {
    font-size: 1.6rem;

}

.button {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(137, 223, 10);
    padding: 1rem;
    border-radius: 8px;
    color:rgb(89, 89, 89);
}

.button:hover {
    
    background-color: rgb(144, 238, 2);
    color: black;

}

.button:focus {
    outline: none;
}
.button:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}